<!DOCTYPE >
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>Editor</title>
    <script type="text/javascript" src="static/ed.js"></script>
</head>

<body>
    <div>
        <span>
        <p>Launch to send&nbsp;esc to dismiss</p>
        <script>
        /* TODO:
           1 access elm inside html div/tag
           1 OLD elm 0.16 version, update to 0.17 
        */
        var runningElmModule = Elm.Main.fullscreen();
        </script>
    </div>
</body>
</html>
